MONGODB_URL=""

# Generate ACCESS_TOKEN_SECRET, run the following in vs code terminal :
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET_KEY=""

STRIPE_SECRET_KEY=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Note: Please setup mongodb and change the MongoDB url and set your jwt secret key above.